*~
.anchor
bin/
cli/npm-package/anchor
cli/npm-package/*.tgz
dist/
docs/yarn.lock
.DS_Store
examples/**/Cargo.lock
examples/*/Cargo.lock
.idea/
node_modules/
lib/
*.swo
*.swp
target/*
!target/idl
target/idl/*
!/target/idl/best_apy.json
test-ledger
ts/docs/
